.train {
  padding-left: 0;
  padding-right: 15px;
}
.time {
	padding-right: 10px;
	text-align: right;
}
.bart-stop {
	margin-bottom: 10px;
}
.bart-stop-heading {
	font-weight: bold;
	margin-bottom: 2px;
}
.bart-advisory {
	background-color: #990033;
	color: #ffffff;
	padding: 2px 6px;
	margin: 3px 0;
	overflow-wrap: break-word;
}